@page "/groups/{GroupName}"
@inject HttpClient Http
@inject IJSRuntime jsruntime;
@using Microsoft.AspNetCore.SignalR.Client;
@using ChatApp.Client.Models;

<body class="page container">
    <div class="group-pa">
        <h3 class="text-white py-2">@GroupName</h3>
    </div>

    <div class="messages-container">

        <div class="items-container">
            @foreach (var message in messages)
            {
                <div class="message-style text-break">
                    @message.Text
                    <small class="text-muted">6:58 pm</small>
                </div>
                <br />
            }
        </div>

        <div class="d-flex action-container">
            <input type="text" class="form-control text-area-style" placeholder="Write a message..." aria-label="Write a message..." aria-describedby="button-send" @bind="message">
            <button class="btn btn-outline-secondary" type="button" id="button-send" @onclick="SendMessage">
                <img class="send-icon" src="icons/send-icon.png" />
            </button>
        </div>

    </div>
</body>

@code {
    [CascadingParameter(Name = "AuthenticationState")]
    public AuthenticationState AuthenticationState { get; set; }

    [Parameter]
    public string GroupName { get; set; }

    public string UserName { get; set; }
    private string? message { get; set; }
    private List<Message> messages = new List<Message>();
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            hubConnection = new HubConnectionBuilder()
                .WithUrl("https://localhost:7183/chathub",
                    options => options.AccessTokenProvider = () => Task.FromResult(AuthenticationState.Token))
                .Build();

            hubConnection.On<string, Message>("NewMessage", GetMessage);

            await hubConnection.StartAsync();
            await hubConnection.InvokeAsync("JoinGroup", GroupName);

            messages = await Http.GetFromJsonAsync<List<Message>>($"https://localhost:7183/api/Messages/groups/{GroupName}");

            await jsruntime.InvokeVoidAsync("scrollFunction");

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void GetMessage(string id, Message message)
    {
        messages.Add(message);
        UserName = id;
        StateHasChanged();
    }

    private async Task SendMessage()
    {
        if (hubConnection.State == HubConnectionState.Connected)
        {
            await hubConnection.InvokeAsync(
                methodName: "SendMessageToGroup",
                GroupName,
                message ?? "...Empty message...");

                message = null;

            await jsruntime.InvokeVoidAsync("scrollFunction");
        }
        else
        {
            hubConnection = new HubConnectionBuilder()
                .WithUrl("https://localhost:7183/chathub")
                .Build();

            await hubConnection.InvokeAsync(
                methodName: "SendMessageToGroup",
                GroupName,
                message ?? "...Empty message...");
        }
    }
}
