.page {
    background-color: #282E33;
}

.group-head{
    border-width: 1px;
    border-color: black;
    padding-bottom: 2px;
    padding-top: 2px;
}

.group-page {
    height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: transparent;
}

.message-style {
    max-width: 60%;
    padding: 4px 10px;
    border-radius: 15px 15px 15px 0;
    display: inline-flex;
    background-color: #33393F;
    color:white;
}

.messages-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #18191D;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.text-area-style{
    background-color:transparent;
    color:white
}

.send-icon{
    width: 25px;
}

.avatar{
    border-radius:50%;
    width:30px;
    height:30px;
    background-color: aquamarine;
}

/*items-container*/

.items-container{
    height:80vh;
    overflow-y:scroll;
    scrollbar-color: white;
}

.action-container {
    padding-bottom: 30px;
    background-color: #282E33;
}

.action-container input{
    border-width: 1px;
    border-color: black;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}

