@page "/groups/{GroupName}"
@inject HttpClient Http
@using Microsoft.AspNetCore.SignalR.Client;
<h3>@UserName in @GroupName Group</h3>

@foreach (var _message in messages)
{
    <p>@_message</p>
    <br />
}

<MudTextField T="string" @bind-Value="message"></MudTextField>
<MudButton OnClick="SendMessage">Send</MudButton>