@page "/groups/{GroupName}"
@inject HttpClient Http
@using Microsoft.AspNetCore.SignalR.Client;
@using static MudBlazor.CategoryTypes;
<h3>@UserName in @GroupName Group</h3>

@foreach (var _message in messages)
{
    <MudAvatar Color="Color.Success">
        @_message.SenderUserName[0]
    </MudAvatar>

    <MudChip Color="Color.Info" >
        <MudText>
            @_message.Text
        </MudText>
    </MudChip>
    <br />
}

<br />

<Row Style="display:flex">
    
    <MudTextField Style="width: 95%" Label="Write a message ..." Variant="Variant.Filled" Clearable="true" Immediate="true" T="string" @bind-Value="message"></MudTextField>
    <MudIconButton Style="width:5%" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="SendMessage">Send</MudIconButton>
</Row>