@page "/groups"
@inject HttpClient Http

<h1>Groups</h1>

@if(_groups is null)
{
    <p>Empty</p>
}
else
{
    @foreach(var group in _groups)
    {
        var groupLink = $"/groups/{group}";
        <MudAlert NoIcon="true" Severity="Severity.Normal" Variant="Variant.Outlined" >
            <MudAvatar Color="Color.Tertiary">
                @group[0]
            </MudAvatar>

            <MudLink Href="@groupLink">
                @group
            </MudLink>
        </MudAlert>
        <br />
    }
}