@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@inject HttpClient Http

@foreach(var _message in messages)
{
    <p>@_message</p>
}

<MudTextField T="string" @bind-Value="message"></MudTextField>
<MudButton OnClick="SendMessage">Send</MudButton>